* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    margin:0;
    padding:0;

    display: grid;
    grid-template-columns: 20rem 1fr;

    background-color: #18181b;
    color: white;
}

ul {
    list-style-type: none;
}

/* Sidebar and Sidebar Buttons */

.sidebar {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: #27272a;
}

.task-filter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.task-filter button,
.project-list button {
    width: 100%;
    height: 3rem;

    background-color: #27272a;
    color: white;

    border: none;
    border-radius: 1rem;

    font-size: 1.5rem;
    text-overflow: ellipsis;
}

.task-filter button:hover,
.project-list button:hover {
    background-color: #ef4444;
}

.task-filter button:active,
.project-list button:active {
    background-color: #dc2626
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Task List */

.content {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content ul {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.content h1 {
    font-size: 3rem;
    text-overflow: ellipsis;
}

/* Tasks */

.content li > div {
    width: 100%;
    height: 5rem;

    background-color: #3f3f46;

    display: grid;
    grid-template-columns: 3rem 1fr 5rem;
    align-items: center;
    justify-items: center;

    border: 1px solid #71717a;
    border-radius: 1rem;
}

.content .checkbox {
    width: 1.5rem;
    height: 1.5rem;

    background-color: #a1a1aa;

    border: 1px solid black;
    border-radius: .75rem;

    font-size: 1rem;
}

.content .task {
    width: 100%;
    height: calc(5rem - 2px); /* -2px for border */
    padding: .5rem;

    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-items: center;

    border: none;
    border-left: 1px solid #71717a;
    border-right: 1px solid #71717a;

    background-color: #3f3f46;
    color: white;

    text-align: left;
    text-overflow: ellipsis;
}

.task h2 {
    font-size: 2rem;
}

.task p {
    font-size: .75rem;
}

.content .edit {
    width: 2rem;
    height: 2rem;

    background-color: #a1a1aa;

    border: none;
    border: 1px solid black;

    font-size: 1rem;
}

.extremely-urgent,
.urgent,
.not-urgent {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem 0 0 1rem;
}

.extremely-urgent {
    background-color: #dc2626;
}

.urgent {
    background-color: #ea580c;
}

.content .task:hover {
    background-color: #27272a;
}

.content .task:active {
    background-color: #18181b;
}


.content .checkbox:hover,
.content .edit:hover{
    background-color: #8b8b93;
}

.content .checkbox:active,
.content .edit:active{
    background-color: #78787f;
}

/* Dialog Form */

dialog {
    width: 50rem;
    padding: 1rem;

    background-color: #27272a;

    margin-left: auto;
    margin-right: auto;
    align-self: center;

    border-radius: 1rem;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.form-input-row {
    display: flex;
    flex-direction: column;
}

.buttons-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.buttons-row button {
    height: 2rem;
    width: 5rem;

    border: none;
    border-radius: .5rem;

    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.submit-form {
    background-color: #f87171;
}

.submit-form:hover {
    background-color: #ef4444;
}

.submit-form:active {
    background-color: #dc2626
}

.close-form {
    background-color: #a1a1aa;
}

.close-form:hover {
    background-color: #8b8b93;
}

.close-form:active {
    background-color: #78787f;
}

label {
    color: white;
    height: 1.5rem;
}

input,
select {
    height: 1.5rem;
}

textarea {
    resize: vertical;
}

input,
textarea {
    padding: 5px 5px;
}

input,
select,
textarea {
    background-color: #3f3f46;
    
    color: white;
    outline: none;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid #ef4444 ;
}

#title:disabled {
    background-color: #71717a;
    filter: blur(.5px)
}

/* Dialog Task Details */
.details-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.details-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-sidebar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.details-contents h2 {
    color: white;
    font-size: 2.5rem;
}

.details-sidebar h3 {
    color: white;
    font-size: 1.5rem;
}

.details-contents p,
.details-sidebar p {
    color: white;
    font-size: 1rem;
}

.details-button {
    width: 100%;

    display: flex;
    justify-content: center;
}

.details-close {
    height: 2rem;
    width: 5rem;

    background-color: #a1a1aa;

    border: none;
    border-radius: .5rem;

    font-size: 1rem;
    font-weight: bold;
    color: white;
}