* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    margin:0;
    padding:0;

    display: grid;
    grid-template-columns: 20rem 1fr;

    background-color: #18181b;
    color: white;
}

.sidebar {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: #27272a;
}

.task-filter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.task-filter button,
.project-list button {
    width: 100%;
    height: 3rem;

    background-color: #27272a;
    color: white;

    border: none;
    border-radius: 1rem;

    font-size: 1.5rem;
}

.task-filter button:hover,
.project-list button:hover {
    background-color: #f87171;
}

.task-filter button:active,
.project-list button:active {
    background-color: #ef4444;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

ul {
    list-style-type: none;
}